{% extends 'core/base.html' %}

{% block branding_tool_name %}Mentions{% endblock %}

{% block logo %}<a href="http://mentions.mediameter.org/"><img src="/static/core/img/mm-logo-65-orange.png" /></a>{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="static/mentions/style.css"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="static/mentions/models.js"></script>
    <script type="text/javascript" src="static/mentions/views.js"></script>
    <script type="text/javascript" src="static/mentions/controller.js"></script>
    <script type="text/javascript" src="static/mentions/routes.js"></script>
    <script type="text/javascript" src="static/mentions/script.js"></script>
{% endblock %}

{% block backbone_templates %}
    {% include 'mentions/mentions_result_view.html' %}
    {% include 'mentions/mentions_sentence_view.html' %}
    {% include 'mentions/about_mentions_view.html' %}
{% endblock %}
